div{border:solid 3px #a51e10;margin:5px;padding:10px;text-align:center;font-style:times new roman;}

#b1{background:#ca92b7;height:190px;width:1200px;}

#b2{float:left;background-image:url(img1.jpg);height:500px;width:250px;font-weight:700;}

#b3{float:left;background-image:url(img.jpg);height:500px;width:860px;}

#b5{background:#bd9da0;width:1200px;display:inline-block;}
