div{border:solid 3px; color:rose;
  padding:5px;
  margin:5px;
  background-color:yellow;}
#b1{background-color:rose;}
#b2{background-color:rose;}
#b3{background-color:rose;martin:5px;width:25%;float:left;}
#b4{background-color:pink;martin:5px;width:60%;float:left;}
#b5{background-color:rose;martin:5px;width:13%;float:left;}
#b6{background-color:pink;clear:both;}
